In [958]:
import pandas as pd
import matplotlib.pyplot as plt

# All Fundamentalists

In [959]:
df = pd.read_csv("/Users/richardeli/Downloads/USYD/Thesis/Data Generated/All_Fundamentalists.csv")
df_fund = df[['Run Number', 'Market Price']]

df_fund.describe()

        Run Number  Market Price
count  1000.000000   1000.000000
mean    500.500000     99.675550
std     288.819436      1.006816
min       1.000000     96.850000
25%     250.750000     98.850000
50%     500.500000     99.850000
75%     750.250000    100.450000
max    1000.000000    104.450000

# All Speculators

In [960]:
df = pd.read_csv("/Users/richardeli/Downloads/USYD/Thesis/Data Generated/All_Speculators.csv")
df_spec = df[['Run Number', 'Market Price']]

df_spec.describe()

        Run Number  Market Price
count  1000.000000   1000.000000
mean    500.500000     77.633600
std     288.819436     29.965658
min       1.000000      9.400000
25%     250.750000     56.350000
50%     500.500000     72.800000
75%     750.250000     94.925000
max    1000.000000    168.750000

# 50 50 Split

In [966]:
df = pd.read_csv("/Users/richardeli/Downloads/USYD/Thesis/Data Generated/50_50_Agents.csv")
df_50_50 = df[['Run Number', 'Market Price']]

df_50_50.describe()

        Run Number  Market Price
count  1000.000000   1000.000000
mean    500.500000     92.490650
std     288.819436      5.461424
min       1.000000     69.200000
25%     250.750000     89.300000
50%     500.500000     92.975000
75%     750.250000     96.350000
max    1000.000000    104.500000

In [1002]:
df = pd.read_csv("/Users/richardeli/Downloads/USYD/Thesis/Data Generated/test.csv")

volatility_columns = [f'Cycle {i} Volatility' for i in range(1, 11)]
average_price_columns = [f'Cycle {i} Average Price' for i in range(1, 11)]
average_spec_columns = [f'Cycle {i} Speculator Proportion' for i in range(1, 11)]

volatility_averages = df[volatility_columns].mean()
average_price_averages = df[average_price_columns].mean()
spec_proportion_averages = df[average_spec_columns].mean()

result = pd.DataFrame({
    'Cycle': [f'{i}' for i in range(1, 11)],
    'Average Price': average_price_averages.values,
    'Volatility': volatility_averages.values,
    'Speculator Proportion': spec_proportion_averages.values
})

result
# fig, ax1 = plt.subplots(figsize=(12, 6))
# ax1.plot(result['Speculator Proportion'], result['Average Price'], color='green', marker='o', label='Average Price')
# ax1.set_xlabel('Speculator Proportion')
# ax1.set_ylabel('Average Price', color='green')
# ax1.tick_params(axis='y', labelcolor='green')

# # Creating a second y-axis for Volatility as bars
# ax2 = ax1.twinx()
# ax2.bar(result['Speculator Proportion'], result['Volatility'], color='blue', alpha=0.6, width=0.03, label='Volatility')
# ax2.set_ylabel('Volatility', color='blue')
# ax2.tick_params(axis='y', labelcolor='blue')

# # Title and grid
# plt.title('Average Price and Volatility across Speculator Proportions')
# ax1.grid(True, linestyle='--', alpha=0.5)

# # Aligning legends for both y-axes
# fig.legend(loc='upper right', bbox_to_anchor=(0.85, 0.85))

# # Display the plot
# plt.show()

  Cycle  Average Price  Volatility  Speculator Proportion
0     1     100.035331    3.416824                   50.0
1     2      98.224734    6.639603                   55.0
2     3      91.784391   12.979171                   60.0
3     4      86.550254   19.395000                   65.0
4     5      79.312871   23.134044                   70.0
5     6      58.474634   26.719468                   75.0
6     7      38.108797   21.417175                   80.0
7     8      18.175551   11.202192                   85.0
8     9       6.440908    4.345840                   90.0
9    10       1.728891    0.862204                   95.0